<div class="fixed top-0 px-12 py-4 flex justify-between items-end w-screen">
  <h1 class="text-xl font-black text-transparent bg-clip-text bg-gradient-to-tr from-sky-200 via-pink-300 to-sky-500">
    Saturn
  </h1>
  <img src="https://bavel-avatar.netlify.app/api/hello-world?seed=test" alt="" class="h-12 w-12">
</div>