<div class="max-w-3xl mx-auto relative">
  <h1 class="text-8xl my-12 font-black text-transparent bg-clip-text bg-gradient-to-tr from-sky-200 via-pink-300 to-sky-500">
    Saturn Blog
  </h1>
  <div class="flex flex-col space-y-12 bg-blue-400">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-7 flex bg-white shadow-xl rounded-xl cursor-pointer transform hover:shadow-2xl hover:-translate-y-1 transition-transform duration-150">
        <img class="w-24 rounded-tl-xl rounded-bl-xl object-cover h-full" src="https://images.unsplash.com/photo-1639844088238-3c95777a00e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=900&q=60" />
        <div class="p-2 space-y-2">
          <p class="font-bold text-3xl text-slate-600">Road to Nowhere...</p>
          <div class="flex space-x-2 items-end text-xs">
            <img src="https://bavel-avatar.netlify.app/api/hello-world?seed=test" alt="" class="object cover h-5 w-5 rounded-full" />
            <p class="font-semibold text-slate-600"> Nick Graffis</p>
            <p class="text-slate-600">
              <time datetime="2020-05-01">May 1, 2020</time>
            </p>
          </div>
          <p class="font-semibold text-slate-500 text-sm ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
            porttitor ut, ultricies sed, dapibus at, diam.
          </p>
          <div class="flex space-x-2 text-slate-600">
          </div>
        </div>
      </div>
      <div class="col-span-5 flex bg-white shadow-xl rounded-xl">
        <div class="p-2 space-y-2">
          <p class="font-bold text-3xl text-slate-600">Road to Nowhere...</p>
          <div class="flex space-x-2 items-end text-xs">
            <img src="https://bavel-avatar.netlify.app/api/hello-world?seed=test" alt="" class="object cover h-5 w-5 rounded-full" />
            <p class="font-semibold text-slate-600"> Nick Graffis</p>
            <p class="text-slate-600">
              <time datetime="2020-05-01">May 1, 2020</time>
            </p>
          </div>
          <p class="font-semibold text-slate-500 text-sm ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
            porttitor ut, ultricies sed, dapibus at, diam.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-6 bg-white shadow-xl rounded-xl">
      <div class="relative w-full h-36 flex items-center justify-center">
        <img class="h-full w-full rounded-tl-xl rounded-tr-xl object-cover" src="https://images.unsplash.com/photo-1639844088238-3c95777a00e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=900&q=60" />
        <div class="absolute p-2 space-y-2 w-full">
          <p class="font-bold text-6xl text-slate-100 text-center">Road to Nowhere...</p>
        </div>
      </div>
      <div class="p-4 space-y-4">
        <div class="flex space-x-2 items-end text-xs">
          <img src="https://bavel-avatar.netlify.app/api/hello-world?seed=test" alt="" class="object cover h-5 w-5 rounded-full" />
          <p class="font-semibold text-slate-600"> Nick Graffis</p>
          <p class="text-slate-600">
            <time datetime="2020-05-01">May 1, 2020</time>
          </p>
        </div>
        <p class="font-semibold text-slate-500 text-sm ">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
          porttitor ut, ultricies sed, dapibus at, diam.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
          porttitor ut, ultricies sed, dapibus at, diam.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
          porttitor ut, ultricies sed, dapibus at, diam.
        </p>
      </div>
    </div>
  </div>
</div>